 @import url('https://fonts.googleapis.com/css2?family=Asar&display=swap');
 *{
     font-family: "normal Tahoma, Arial, Helvetica, sans-serif";
     font-weight: 500;
     font-style: normal;
 }

/* import "react-toastify/dist/ReactToastify.css"; */