.main_container_forms {
    width: 100%;
    margin: auto;
    /* border: 2px solid green; */
    display: grid;
    column-gap: 60px;
    row-gap: 20px;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.main_container_forms_extrainfo {
    width: 50%;
    margin: auto;
    padding: 10px;
    /* border: 2px solid rgb(0, 2, 128); */
    margin-bottom: 10px;


}

.main_container_forms_crime {
    width: 100%;
}

.newadd {
    width: 10%;
    margin: 30px auto;
    /* border: 1px solid green; */
    text-align: center;
}

.newadd button {
    background-color: rgb(24, 144, 255);
    width: 90%;
    columns: white;
    padding-top: 5px;
}

.main_container_forms_drawer {
    display: flex;
    flex-direction: column;
}

.form_label {
    color: red;
    margin-bottom: 100px;
}

.reset_frm_btn {
    width: 15%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 20px;
    /* float: right; */

}

.form1 {
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(239, 239, 238, 0.935);
}

.label_form {
    /* color: red; */
    font-size: 100px;
}

.model_msg {
    height: 300px;
    display: flex;
    text-align: center;
    flex-direction: column;
    /* gap: 10px; */
}

.model_msg h1 {
    margin-bottom: 1px;
    font-size: 30px;
    color: RGB(43 106 193);
}

.model_msgp {
    height: 3px;
    margin-top: 0px;
    background-color: RGB(43 106 193);
}

.model_msg p {
    font-size: 18px;
    margin: 15px 0px;
    text-align: center;
}

.model_msg input {
    width: 200px;
    margin: 10px 0px;
}

.model_msg button {
    padding: 10px;
    margin: 20px auto;
    width: 70%;
    border-radius: 20px;
    color: white;
    transition: all 0.5s ease-in-out;
    background-color: rgb(53, 167, 133);
}

.model_msg button:hover {
    cursor: pointer;
    background-color: RGB(43 106 193);
}

.data_delete p {

    color: RGB(43 106 193);
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.controlflex {
    align-items: center;
    display: flex;
    width: "50%";

    /* border: 1px solid teal; */
}

.aayu {
    display: flex;
    align-items: center;
    width: 60%;
    /* gap: 20px; */
    /* border: 1px solid green; */
}

.controlflex button {
    margin-top: 20px;
    padding-top: 5px;
}

.inputyear {
    margin-top: 20px;
    /* border: 1px solid greenyellow; */

}

.satya {
    margin-top: 21px;
}

.saheje {
    margin-top: 24px;
}

.stack {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.form_location {
    /* border: 2px solid rgb(148, 152, 148); */
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* padding: 30px; */
}

.form_location textarea {
    /* border: 2px solid yellowgreen; */
    /* margin-top: -20px; */
}

.ghatna {
    border: 1px dotted gainsboro;
    width: 98%;
    padding: 5px;
    margin: auto;
}

.ghatna p {
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: blueviolet;
}

.crime_info {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    text-align: center;
    /*
     */
    margin: auto;
    /* padding: 10px; */
}

.crime_info_date {
    width: 100%;
    /* border: 1px solid green; */
}

.ghatna_place {

    border: 1px dotted gainsboro;
    width: 98%;
    padding: 5px;
    margin: 10px auto;
}

.ghatna_place p {
    margin-left: 15px;
    font-size: 15px;
    color: blueviolet;
    font-weight: bold;

}

.crime_info2 {
    /* border: 1px solid green; */
    display: flex;
    width: 100%;
    padding-top: 5px;
    justify-content: space-between;
    margin: auto;
    /* padding: 10px; */
}

.crime_info3 {
    /* border: 1px solid green; */
    /* display: flex; */
    width: 100%;
    padding: 5px;
    justify-content: space-between;
    margin: auto;
    /* padding: 10px; */
}

.control_btn_div {
    width: 70%;
    /* border: 1px solid teal; */
    margin: 20px auto;
    text-align: center;
}

.mark_loaction {
    width: 98%;
    align-items: center;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid gainsboro;
}

.mark_loaction img {
    width: 20%;
    cursor: pointer;
}

.main_container_forms_vehi {
    border: 1px solid gainsboro;
    /* border: 10px solid red; */
    width: 90%;
    /* margin-bottom: 20px; */
    margin: auto;
    padding: 10px;
}

.vehi_form {
    border: 1px dotted gainsboro;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.vehiinput {
    /* border: 1px solid rgb(17, 128, 0); */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    gap: 20px;
    margin: auto;
}

/*  */
.item {

    /* border: 1px solid rgb(0, 255, 187); */
    width: 50%;
}

.add {
    width: 20%;
    margin: 30px auto;
}

.vehiinput1{
    /* border: 1px
    padsolid red; */
    display: flex;
    padding: 10px;

}
.itembtn{
    width: 30%;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
}

@media screen and (min-width:200px) and (max-width:420px) {
    .main_container_forms {
        width: 100%;
        margin: auto;
        /* border: 2px solid green; */
        display: block;


    }
.vehiinput1 {
    /* border: 1px */
    /* solid red; */
    display: block;
    padding: 10px;

}

.itembtn {
    width: 100%;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid yellow; */
}
    .main_container_forms_extrainfo {
        width: 100%;
        margin: auto;
        padding: 10px;
        /* border: 2px solid rgb(0, 2, 128); */
        margin-bottom: 10px;


    }

    .form1 {
        padding: 10px;
        /* width: 100%; */
        border: 1px solid rgba(239, 239, 238, 0.935);
    }

    .crime_info {

        display: flex;
        justify-content: space-between;
        gap: 20px;

    }

    .crime_info2 {

        display: flex;
        justify-content: space-between;
        gap: 20px;

    }

    .mark_loaction {
        width: 90%;
        margin: auto;
        border: 1px solid gainsboro;
    }

    .mark_loaction img {
        width: 50%;
        cursor: pointer;
        margin: auto;
    }

    .control_btn_div {
        width: 100%;
        /* border: 1px solid teal; */
        margin: 20px auto;
        text-align: center;
    }

    .stack {
        display: flex;
        flex-direction: column;
    }

    .satya {
        margin-top: 21px;
        width: 80px;
        margin: 10px auto;
    }

    .controlflex {
        align-items: center;
        display: block;
        width: 100%;
        /* border: 6px solid teal; */
    }

    .aayu {
        display: block;
        align-items: center;
        width: 100%;
        /* border: 1px solid green; */
    }

    .sematak {
        width: 100%;
        /* border: 1px solid red; */
    }

    .reset_frm_btn {
        width: 60%;

    }


    .main_container_forms_vehi {
        /* border: 1px solid red; */
        width: 100%;
        /* margin-bottom: 20px; */
        margin: auto;
    }

    .vehi_form {
        border: 1px dotted gainsboro;
        width: 100%;
        margin: auto;
        padding: 10px;
    }

    .vehiinput {
        /* border: 1px solid rgb(17, 128, 0); */
        display: block;
        /* justify-content: space-between; */
        width: 100%;
        padding: 5px;
        gap: 20px;
        margin: auto;
    }

    /*  */
    .item {

        /* border: 1px solid rgb(0, 255, 187); */
        width: 90%;
        margin: auto;
    }

    .add {
        width: 60%;
        margin: 30px auto;
    }
}

@media screen and (min-width:421px) and (max-width:768px) {
    .main_container_forms {
        width: 100%;
        margin: auto;
        /* border: 2px solid green; */
        display: block;


    }
        .vehiinput1 {
            /* border: 1px solid red; */
            display: flex;
            width: 90%;
            margin: auto;
            padding: 10px;


        }

        .itembtn {
            width: 100%;
            display: flex;
            margin-top: 60px;
            align-items: center;
            justify-content: space-evenly;
            /* border: 2px solid yellow; */
        }
.main_container_forms_vehi {
    /* border: 1px solid red; */
    width: 100%;
    /* margin-bottom: 20px; */
    margin: auto;
}

.vehi_form {
    border: 1px dotted gainsboro;
    width: 100%;
    margin: auto;
    padding: 10px;
}

.vehiinput {
    /* border: 1px solid rgb(17, 128, 0); */
    display: block;
    /* justify-content: space-between; */
    width: 100%;
    padding: 5px;
    gap: 20px;
    margin: auto;
}

/*  */
.item {

    /* border: 1px solid rgb(0, 255, 187); */
    width: 90%;
    margin: auto;
}

.add {
    width: 40%;
    margin: 30px auto;
}
.add button{
    width: 100%;
}
    .mark_loaction img {
        width: 30%;
        cursor: pointer;
        margin: auto;
    }

    .main_container_forms_extrainfo {
        width: 100%;
        margin: auto;
        padding: 10px;
        /* border: 2px solid rgb(0, 2, 128); */
        margin-bottom: 10px;


    }

    .form1 {
        padding: 10px;
        /* width: 100%; */
        border: 1px solid rgba(239, 239, 238, 0.935);
    }

    .stack {
        display: flex;
        flex-direction: column;
    }

    .satya {
        margin-top: 21px;
        width: 80px;
        margin: 10px auto;
    }

    .controlflex {
        align-items: center;
        display: block;
        width: 100%;
        /* border: 6px solid teal; */
    }

    .aayu {
        display: block;
        align-items: center;
        width: 100%;
        /* border: 1px solid green; */
    }

    .sematak {
        width: 100%;
        /* border: 1px solid red; */
    }
}