.agree_btn{
    width: 20%;
    margin: auto;

}
.agree_btn button{
    width: 100%;
    padding: 10px 15px;
    border-radius: 20px;
    border: none;
    background-color: rgb(53, 167, 133);
    color: white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.agree_btn button:hover{
    /* background-color: rgb(); */
    background-color: RGB(43 106 193);
    cursor: pointer;
}
p{
    margin-top: 15px;
    text-align: justify;
}
@media screen and (min-width:200px) and (max-width:768px) {
    .agree_btn {
            width: 50%;
            margin: 10px auto;
            /* border: 2px solid green; */

        }
}