.huminfo_div {
    height: 300px;
    overflow-y: scroll;

    width: 100%;

    padding: 10px;
    display: flex;

    gap: 30px;
    justify-content: space-between;

}

.first_div {
    /* border: 1px solid green; */
    /* height: auto; */
    width: 50%;
    /* padding-bottom: 60px; */
}

.second_div {
    /* border: 1px solid rgb(0, 9, 128); */
    width: 50%;
    /* height: auto; */
}

.tab_view {
    /* border: 5px solid green; */
    height: 430px;
}

.scrollable-content {
    border: 1px solid rgba(215, 213, 213, 0.782);
    overflow-y: hidden;
    padding: 5px;
    height: 340px;
    /* padding-bottom: 50px; */

}



.btn_control {
    width: 55%;
    margin: auto;
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: space-between;
}

.btn_control button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    width: 50%;
    padding: 8px 10px;
    border-radius: 1.5rem;
    background-color: rgb(53, 167, 133);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn_control button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.btn_control button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(25, 110, 238) 10.8%,
            rgb(26, 10, 210) 94.3%);
    transition: all 0.6s ease-in-out;
}

.empty_btn {
    width: 40%;
    margin: auto;

    /* border: 1px solid green; */
}

.empty_btn button {
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    width: 50%;
    padding: 8px 10px;
    border-radius: 1.5rem;
    background-color: rgb(53, 167, 133);
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.empty_btn button:hover::before {
    transform: scaleX(1);
}

.button-content {
    position: relative;
    z-index: 1;
}

.empty_btn button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(82.3deg,
            rgb(231, 65, 4) 10.8%,
            rgb(241, 14, 44) 94.3%);
    transition: all 0.6s ease-in-out;
}

@media screen and (min-width:200px) and (max-width:420px) {
    .button-content {
        /* border: 1px solid green; */
        width: 100%;
    }

    .empty_btn {
        width: 100%;
        margin: 10px auto;

        /* border: 1px solid green; */
    }

    .btn_control {
        width: 80%;
        margin: auto;
        display: block;
        gap: 10px;
        /* border: 1px solid red; */
        margin-top: 50px;
        justify-content: space-between;
    }

    .btn_control button {
        width: 100%;
        font-size: 10px;
    }


}
@media screen and (min-width:421px) and (max-width:768px) {
    .button-content {
        /* border: 1px solid green; */
        width: 100%;
    }

    .empty_btn {
        width: 100%;
        margin: 10px auto;

        /* border: 1px solid green; */
    }

    .btn_control {
        width: 80%;
        margin: auto;
        display: block;
        gap: 10px;
        /* border: 1px solid red; */
        /* margin-top: 50px; */
        justify-content: space-between;
    }

    .btn_control button {
        width: 100%;
        margin: 10px;
        font-size: 12px;
    }
.tab_view {
    /* border: 5px solid green; */
    height: 500px;
}
        .scrollable-content {
            border: 1px solid rgba(215, 213, 213, 0.782);
            /* overflow-y: hidden; */
            padding: 5px;
            /* height: 500px; */
            /* height: 100vh; */
            /* padding-bottom: 50px; */

        }
}